:root {
    /* colors */
    --geyser: #dae3e7;
    --outerSpace: #32383e; /* formerly rgb(50, 56, 62)*/
    --slateGray: #778492;
    --white: #fff;
    --wildSand: #f5f5f5;

    /* sizes */
    --maxWidth: 1170px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: var(--geyser);
}

ul {
    padding-left: 40px;
}

.centered {
    width: 100%;
    max-width: var(--maxWidth);
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-rows: 240px 1fr 43px;
}

.header {
    background: var(--wildSand);
    border-top: 10px solid var(--slateGray);
}

.footer {
    background: var(--outerSpace);
    color: var(--white);
}

.horizontal-grid {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-gap: 30px;
}

.section {
    margin: 30px 0;
    background: var(--white);
}

@media (max-width: var(--maxWidth)) {
    .horizontal-grid {
        grid-template-columns: 1fr;
    }
}
